.content-wrap {
    background-image: url(../images/pattern-background-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 450px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 1px 20px gray;
}

.plan-box-in {
    width: 320px;
    background-color: var(--very-pale-blue);
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 10px 30px;
    padding: 10px 20px;
}

.plan-box-out {

    display: flex;
    justify-content: center;
}

.attribution {
    margin-bottom: 10px;
}

@media only screen and (max-width: 345px) {
    .card {
        width: 300px;
    }
  }